*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
.test {
  width: 350px;
  height: 400px;
  margin-bottom: 15px;
  color: #fff;
}
#one {
  background: #8c7ae6;
  padding: 50px;
  border: 10px solid #fbc531;
  box-sizing: content-box;
}
#two {
  background: #192a56;
  padding: 50px;
  border: 10px solid #fbc531;
}
#learning {
  box-sizing: border-box;
}
.child {
  background: #8c7ae6;
  padding: 10px 8px;
  border: 5px solid #fbc531;
  width: 32%;
  float: left;
  margin-right: 1%;
}
