* {
  margin: 0;
  padding: 0;
}
img {
  width: 40px;
  height: 40px;
  background: red;
  color: #fff;
  padding: 10px;
  font-size: 15px;
}
i {
  color: #fff;
  background: tomato;
  padding: 15px;
  font-size: 14px;
}
