h1 {
  /* border-style: hidden;
  border-width: 10px; */
  border-color: aquamarine;
  /* 
  border: 5px solid red;
  border-radius: 15px; */
  border-right: 5px solid greenyellow;
  border-top: 5px solid greenyellow;
  border-bottom: 5px solid greenyellow;
  border-left: 5px solid greenyellow;

  border-left-style: dotted;
  border-right-style: dashed;
  border-top-style: double;
  border-bottom-style: groove;
}
