* {
  margin: 0;
  padding: 0;
}
/* html,
body {
  height: 100%;
} */
html {
  height: 50%;
}
body {
  height: inherit;
}
.parent {
  background: #574b90;
  /* color: #fff; */
  margin: 20px auto;
  padding: 2%;
  width: 92%;
  /* max-width: 1140px; */
  /* min-width: 600px; */

  height: initial;
  /* max-height: 300px; */
}
