body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
.contact {
  width: 80%;
  border: 1px solid #ddd;
  margin: 20px auto;
  padding: 5%;
  text-align: center;
}
.contact h2 {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 0;
}
.contact p {
  color: rgb(113, 113, 113);
}
.contact form {
  margin-top: 25px;
}
.child_form {
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
}
.child_form label {
  display: block;
  margin-bottom: 5px;
}
.child_form input,
.child_form select,
.child_form textarea {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px 3%;
  width: 94%;
  font-family: 'Poppins', sans-serif;
}
.child_form select {
  width: 100%;
}
.child_form input[type='button'] {
  width: 200px;
  background: blueviolet;
  border: 1px solid blueviolet;
  color: #fff;
  cursor: pointer;
}
.child_form input[type='button']:hover {
  width: 200px;
  background: black;
  border: 1px solid black;
  color: #fff;
}
.child_form:last-child {
  margin-bottom: 0px;
}
