* {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
#header_area {
  padding: 15px 0;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
/* Main Menu Style */
#main_menu {
  padding: 10px 0;
  border-bottom: 2px solid #ddd;
}
#main_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
#main_menu ul li {
  display: inline-block;
  margin: 0 8px;
}
#main_menu ul li a {
  color: #000;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
#main_menu ul li a:hover {
  color: #6ca2c8;
}
/* Content Style */
#content {
  width: 1140px;
  margin: 10px auto;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  padding-bottom: 10px;
}
#main_content {
  width: 70%;
  padding: 10px 2%;
  border-right: 1px solid #ddd;
  float: left;
}
.child_content {
  padding: 10px 1%;
  width: 30%;
  float: left;
  margin-right: 1%;
  height: 250px;
}
.child_content:first-child {
  padding: 10px 1%;
  width: 63%;
  float: left;
  margin-right: 1%;
}
.child_content:first-child img {
  display: block;
  float: right;
  margin-left: 15px;
}
.child_content img {
  max-width: 100%;
  display: none;
}
.child_content h2 {
  margin: 0 0 5px;
  font-size: 18px;
}
.child_content h2 a {
  color: #000;
  text-decoration: none;
}
.child_content p {
  max-width: 100%;
}
/* Sidebar Style */
#main_sideber {
  width: 21%;
  float: right;
  padding: 10px 2%;
}
.child_sidebar {
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.child_sidebar:last-child {
  margin-bottom: 0px;
  border-bottom: 0px solid;
}
.child_sidebar img {
  max-width: 100%;
}
.child_sidebar h3 {
  margin: 0 0 5px;
  font-size: 18px;
}
.child_sidebar h3 a {
  color: #000;
  text-decoration: none;
}
/* Footer Area */
#footer_area {
  padding: 15px 0;
  text-align: center;
}
