body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
#test p.para {
  color: blueviolet !important;
}
#test p.para {
  color: aqua;
}
.child p.para {
  color: blue;
}
p.para {
  color: red;
}
p {
  color: green;
}
