* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #1c1e21;
}
img {
  max-width: 100%;
  height: auto;
}

/* Body Ares Style */
#body_area {
  background: #f0f2f5;
}
.container {
  width: 980px;
  padding: 20px;
  margin: 0 auto;
}
#content_area {
  display: flex;
  justify-content: space-between;
  padding: 72px 0 112px;
  align-items: center;
}
.left_side {
  flex-basis: 540px;
}
.left_side img {
  width: 300px;
}
.left_side h2 {
  color: #1c1e21;
  font-size: 28px;
  font-weight: normal;
  padding-left: 30px;
}
.form_area {
  flex-basis: 396px;
  text-align: center;
}
.form_area form {
  background: #fff;
  box-shadow: 0 0 10px #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}
.form_area input {
  width: 100%;
  display: block;
  border: 1px solid #ddd;
  padding: 14px 16px;
  font-size: 17px;
  border-radius: 6px;
  margin-bottom: 15px;
}
.form_area input[type='button'] {
  background: #1877f2;
  border: 1px solid #1877f2;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.form_area button[type='button'] {
  background: #36a420;
  border: 1px solid #36a420;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  padding: 16px;
  border-radius: 6px;
  margin-top: 25px;
  margin-bottom: 10px;
}
.form_area a {
  color: #1877f2;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 15px;
  display: inline-block;
}
.form_area a:hover {
  text-decoration: underline;
}
.form_area p {
  margin-top: 20px;
  color: #1c1e21;
  font-size: 14px;
}
.form_area p a {
  color: #1c1e21;
}

/* Footer Area */
#footer_area {
  background: #fff;
  padding: 25px 0;
}
#footer_area ul {
  text-align: left;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
#footer_area ul li {
  display: inline-block;
  margin: 0 5px;
}
#footer_area ul li a {
  color: #737373;
  font-size: 14px;
  text-decoration: none;
}
#footer_area ul li a:hover {
  text-decoration: underline;
}
#footer_area p {
  color: #737373;
  font-size: 11px;
}

@media screen and (max-width: 520px) {
  .container {
    width: 96%;
  }
  #content_area {
    flex-direction: column;
    padding: 35px 0;
  }
  .left_side {
    flex-basis: 100%;
    text-align: center;
  }
  .left_side h2 {
    font-size: 22px;
    padding-left: 0px;
    margin-bottom: 40px;
  }
  .form_area {
    flex-basis: 100%;
    text-align: center;
  }
}
