:root {
  --primary: #fdcb6e;
  --sec: #dfe6e9;
  --darkColor: #00b894;
  --whiteColor: #fff;
  --defaultWidth: 80%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: var(--sec);
}
.main_area {
  width: var(--defaultWidth);
  margin: 20px auto;
}
.main_area h2 {
  text-align: center;
  background: var(--primary);
  padding: 20px;
  color: var(--darkColor);
}
.child {
  background: var(--darkColor);
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  color: var(--whiteColor);
}
.child a {
  background: var(--primary);
  color: var(--darkColor);
  display: inline-block;
  transition: 0.5s;
  padding: 10px 20px;
  text-decoration: none;
}
.child a:hover {
  background: var(--sec);
  color: var(--primary);
}
